[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nose = "*"
behave = "*"
selenium = "*"
behave-html-formatter = "*"
allure-behave = "*"
faker = "*"
pyautogui = "*"
allure-python-commons = "*"
idna = "*"
parse = "*"
parse-type = "*"
pluggy = "*"
pycparser = "*"
pysocks = "*"
python-dateutil = "*"
pytz = "*"
webdriver-manager = "*"
six = "*"
sniffio = "*"
trio = "*"
trio-websocket = "*"
typing-extensions = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
