[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nose = "*"
behave = "*"
selenium = "*"
behave-html-formatter = "*"
allure-behave = "*"
faker = "*"
pyautogui = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
